.box {
    position: absolute;
    background-color: black;
    width: 200px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}